.input-match {
	text-align: center;
	background: no-repeat 90% url("/static/hs-table.png");
	background-position: center center;
	padding: 10px;
}

.form-group {
	margin-bottom: 0px;
}

.panel-title {
	text-align: center;
	font-size: 100%;
}

.outcome {
	margin-top: 0.5em;
	width: 75px;
}

.table {
	margin-bottom: 5px;
	text-align: left;
}

.well {
	padding: 10px;
}

.stats {
	text-align: center;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.stats ul {
	margin-bottom: 0px;
	margin-top: 3px;
}

.stats ul li {
	text-align: left;
	padding: 5px;
}

#filter_reset {
	float: right;
}

.versus {
	color: white;
	font-size: 80%;
	font-weight: bold;
	width: 100%;
}

#hero-stats {
	width: 100% !important;
	height: 100% !important;
}

#winrate-stats {
	width: 100% !important;
	height: 100% !important;
}

.col-md-12, .col-md-4, .col-md-5, .col-md-3 {
	padding-left: 4px;
	padding-right: 4px;
}

.container {
	width: 100%;
}

table th {
	text-align: center;
}

table td {
	text-align: center;
}

#to-top {
	position: fixed;
	right: 10px;
	bottom: -5px;
	font-size: 200%;
}

.right {
	float: right;
}

.deck-name {
	text-align: left;
}

#deck-name-input {
	text-transform: capitalize;
}