<div class="col-md-6 stats">
	<div class="well">
		<span class="glyphicon glyphicon-eye-open"
			title="Against Seen - Month"
			data-toggle="tooltip">
		</span>
		<ul class="list-group">
			<!-- TMPL_LOOP seen-against --><li class="list-group-item"><!-- TMPL_VAR hero --><strong><span class="right"><!-- TMPL_VAR total --></span></strong></li>
			<!-- /TMPL_LOOP -->
		</ul>
	</div>
</div>

<div class="col-md-6 stats">
	<div class="well">
		<span class=" glyphicon glyphicon-thumbs-down"
			title="Against Losses - Month"
			data-toggle="tooltip">

		</span>
		<ul class="list-group">
			<!-- TMPL_LOOP worst-against --><li class="list-group-item"><!-- TMPL_VAR hero --><strong><span class="right" title="<!-- TMPL_VAR losses -->" data-toggle="tooltip"><!-- TMPL_VAR winrate -->%</span></strong></li>
			<!-- /TMPL_LOOP -->
		</ul>
	</div>
</div>
