<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">HS Tracker</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li role="presentation">
					<a href="http://www.hearthpwn.com/cards"
						target="_blank">Cards</a>
				</li>
				<li role="presentation">
					<a href="http://www.hearthpwn.com/decks"
						target="_blank">Decks</a>
				</li>
				<li role="presentation">
					<a href="http://hearthstone.gamepedia.com/Secret"
						target="_blank">Secrets</a>
				</li>
				<li role="presentation">
					<a href="http://www.hearthhead.com/cardbacks"
						target="_blank">Backs</a>
				</li>
				<li role="presentation">
					<a href="/export.json" target="_blank">Export...</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">
						Sites <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li role="presentation">
							<a href="https://www.reddit.com/r/hearthstone/"
								target="_blank">/r/Hearthstone</a>
						</li>
						<li role="presentation">
							<a href="http://www.hearthpwn.com/"
								target="_blank">HearthPwn</a>
						</li>
						<li role="presentation">
							<a href="https://www.hearthstats.net/"
								target="_blank">HearthStats</a>
						</li>
						<li role="presentation">
							<a href="http://www.heartharena.com/"
								target="_blank">HearthArena</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
