<div class="well stats">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th><span class="glyphicon glyphicon-calendar" title="Date Range" data-toggle="tooltip"></span></th>
				<th><span class="glyphicon glyphicon-ok" title="Wins" data-toggle="tooltip"></span></th>
				<th><span class="glyphicon glyphicon-remove" title="Losses" data-toggle="tooltip"></span></th>
				<th><span class="glyphicon glyphicon-flag" title="Total" data-toggle="tooltip"></span></th>
				<th><span class="glyphicon glyphicon-stats" title="Winrate" data-toggle="tooltip"></span></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong>Season</strong></td>
				<td><!-- TMPL_VAR season-wins --></td>
				<td><!-- TMPL_VAR season-losses --></td>
				<td><!-- TMPL_VAR season-total --></td>
				<td><span class="label <!-- TMPL_VAR season-class -->"><!-- TMPL_VAR season-winrate -->%</span></td>
			</tr>
		</tbody>
	</table>
	<ul class="list-group">
		<li class="list-group-item">Current Rank<strong><span class="right"><!-- TMPL_VAR current-rank --></span></strong></li>
		<li class="list-group-item">Average Match Time<strong><span class="right"><!-- TMPL_VAR average-length -->m</span></strong></li>
		<!-- TMPL_IF not-in-legend --><li class="list-group-item">Games To Legend<strong><span class="right">~<!-- TMPL_VAR games-until-legend --></span></strong></li>
		<li class="list-group-item">Time To Legend<strong><span class="right">~<!-- TMPL_VAR time-to-legend -->h</span></strong></li>
		<!-- /TMPL_IF -->
	</ul>
</div>
